input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #020261;
  overflow-x: hidden;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

.body {
  background: linear-gradient(135deg, #FDF4E3 0%, #FEF3E2 50%, #FFEDD5 100%);
  height: 300vh;
}
.body.dark {
  background: linear-gradient(135deg, #030f0f 0%, #03624c 100%);
}

.dark header {
  background: linear-gradient(135deg, #030f0f 0%, #024e3b 50%, #03624c 100%);
}
.dark main {
  border-color: #04cb9d;
}
.dark .currencyOptionsContainer {
  background: transparent;
}
.dark .currencyOptionsContainer option {
  background: #004e92;
  color: #f0f0f0;
}
.dark .toggleTheme {
  color: #00df82;
  background: linear-gradient(45deg, #00df82, #03624c);
}
.dark .title {
  background: linear-gradient(45deg, #00df82, #03624c);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 40px rgb(3, 246, 145);
}
.dark .cartDisplay {
  background: linear-gradient(135deg, #030f0f 0%, #024e3b 30%, #03624c 60%, #024e3b 80%, #030f0f 100%);
  color: lightgray;
}
.dark .cartDisplay .cartIconContainer button {
  background: linear-gradient(45deg, #00df82, #03624c);
}
.dark .cartDisplay .cartTableContainer .summary thead {
  background: linear-gradient(45deg, #084537, #0b8c56, #03624c);
  color: #00df82;
}
.dark .cartDisplay .cartTableContainer .summary thead td {
  background: linear-gradient(45deg, #084537, #0b8c56, #03624c);
  color: lightgray;
}
.dark .cartDisplay .cartTableContainer .summary tbody tr td {
  color: lightgray;
}
.dark .text .slogan {
  background: linear-gradient(45deg, #00df82, #03624c);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 40px rgba(3, 246, 145, 0.655);
}
.dark .text .sloganText {
  background: linear-gradient(45deg, #00df82, #03624c);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 40px rgba(3, 246, 145, 0.633);
}
.dark .searchContainer {
  background: linear-gradient(45deg, #084537, #0b8c56, #03624c);
}
.dark nav {
  color: #00df82;
  background: linear-gradient(135deg, #030f0f 0%, #024e3b 30%, #03624c 60%, #024e3b 80%, #030f0f 100%);
}
.dark nav .myProgress {
  background: linear-gradient(45deg, #00df82, #03624c);
}
.dark .myTables .overview thead {
  background: linear-gradient(45deg, #084537, #0b8c56, #03624c);
  color: #00df82;
}
.dark .myTables .overview tbody .subHeading {
  background: linear-gradient(45deg, #084537, #0b8c56, #03624c);
  color: #00df82;
}
.dark .myTables .overview tbody tr select {
  color: lightgray;
}
.dark .myTables .overview tbody tr select option {
  background: #024e3b;
}
.dark .myTables .overview tbody input {
  color: lightgray;
}
.dark .myTables .overview tbody input:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0 1000px #03352B inset !important;
  -webkit-text-fill-color: black !important;
}
.dark .myTables .overflow thead,
.dark .myTables .income thead,
.dark .myTables .bills thead,
.dark .myTables .expenses thead,
.dark .myTables .savings thead {
  background: linear-gradient(45deg, #084537, #0b8c56, #03624c);
  color: #00df82;
}
.dark .myTables .overflow thead td,
.dark .myTables .income thead td,
.dark .myTables .bills thead td,
.dark .myTables .expenses thead td,
.dark .myTables .savings thead td {
  background: linear-gradient(45deg, #084537, #0b8c56, #03624c);
  color: lightgray;
}
.dark .myTables .overflow tbody tr td,
.dark .myTables .income tbody tr td,
.dark .myTables .bills tbody tr td,
.dark .myTables .expenses tbody tr td,
.dark .myTables .savings tbody tr td {
  color: lightgray;
}
.dark .myTables .overflow tbody tr td input::-moz-placeholder, .dark .myTables .income tbody tr td input::-moz-placeholder, .dark .myTables .bills tbody tr td input::-moz-placeholder, .dark .myTables .expenses tbody tr td input::-moz-placeholder, .dark .myTables .savings tbody tr td input::-moz-placeholder {
  color: #f0f0f0;
}
.dark .myTables .overflow tbody tr td input::placeholder,
.dark .myTables .income tbody tr td input::placeholder,
.dark .myTables .bills tbody tr td input::placeholder,
.dark .myTables .expenses tbody tr td input::placeholder,
.dark .myTables .savings tbody tr td input::placeholder {
  color: #f0f0f0;
}
.dark .myTables .overflow tbody tr input,
.dark .myTables .income tbody tr input,
.dark .myTables .bills tbody tr input,
.dark .myTables .expenses tbody tr input,
.dark .myTables .savings tbody tr input {
  background: transparent;
  color: lightgray;
}
.dark .myTables .overflow tbody tr input:-webkit-autofill,
.dark .myTables .income tbody tr input:-webkit-autofill,
.dark .myTables .bills tbody tr input:-webkit-autofill,
.dark .myTables .expenses tbody tr input:-webkit-autofill,
.dark .myTables .savings tbody tr input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #012921 inset !important;
  -webkit-box-shadow: 0 0 0 1000px #043027 inset !important;
  -webkit-text-fill-color: lightgray !important;
}
.dark .myTables .bills thead tr {
  color: rgb(255, 31, 31);
}
.dark .myTables .expenses thead tr {
  color: rgb(255, 111, 0);
}
.dark .myTables .savings thead tr {
  color: rgb(25, 25, 233);
}
.dark .saveButton {
  color: lightgray;
  background: linear-gradient(45deg, #00df82, #03624c);
}
.dark .deleteButton {
  background: linear-gradient(45deg, #800000, #cc0000, #990000);
}
.dark .savedStatus {
  background: linear-gradient(45deg, #00df82, #03624c);
  color: lightgray;
}
.dark .savedStatus h2 {
  background: linear-gradient(45deg, #025835, #03624c);
}
.dark .myCharts {
  color: #f0ecec;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  position: relative;
  width: 100%;
  border-radius: 12px 0px 0px 12px;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
}
header .currencyOptionsContainer {
  position: relative;
  padding: 2px;
  border-radius: 4px;
  color: #000;
}
header .currencyOptionsContainer .currencyOptions {
  color: #000;
  padding: 2px;
}
header .title {
  text-align: center;
  display: flex;
  position: relative;
  left: 8%;
  font-size: 2.5rem;
  -webkit-background-clip: text;
          background-clip: text;
  color: navy;
}
header .searchIcon {
  position: relative;
  height: 30px;
  width: 30px;
  left: 19%;
  transition: 0.2s ease;
}
header .searchIcon:hover {
  transform: scale(1.1);
}
header .searchContainer {
  position: absolute;
  height: 10em;
  width: 100%;
  box-shadow: 4px 4px 8px gray;
  z-index: 2;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f59f6a 20%, #fcae5d 40%, #fdca77 60%, #fcae5d 80%, #f59f6a 100%);
  transition: display 1s ease;
}
header .searchContainer .searchInputIcon {
  position: absolute;
  top: 51%;
  height: 24px;
  width: 24px;
  text-align: center;
  z-index: 3;
  left: 11%;
}
header .searchContainer .searchInput {
  height: 4em;
  font-size: 1.2em;
  position: absolute;
  top: 3em;
  outline: none;
  border: none;
  left: 10%;
  border-radius: 12px;
  width: 80%;
  padding-left: 3em;
}
header .searchContainer .searchInput:focus {
  outline: none;
}
header .searchContainer .searchInput::-moz-placeholder {
  color: #c0bfbf;
}
header .searchContainer .searchInput::placeholder {
  color: #c0bfbf;
}
header .searchContainer .searchInput::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
          appearance: none;
}
header .searchContainer .cancelInputIcon {
  position: absolute;
  position: absolute;
  top: 51%;
  height: 24px;
  width: 24px;
  text-align: center;
  z-index: 3;
  left: 85%;
}
header .cart {
  position: relative;
  height: 30px;
  width: 30px;
  left: -15%;
  transition: 0.2s ease;
}
header .cart:hover {
  transform: scale(1.1);
}
header .cartDisplay {
  min-height: 140vh;
  background: linear-gradient(135deg, #f5660d 20%, #fa9d08 40%, #ffab51 60%, #f6ad5e 80%, #ff8c42 100%);
  border-radius: 0px 0px 0px 20px;
  position: absolute;
  float: right;
  z-index: 4;
  width: 24em;
  justify-content: center;
  align-items: center;
  left: 70%;
  display: grid;
  grid-template-rows: 5em auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 2em;
  padding-top: 22em;
  box-shadow: 8px 8px 16px gray;
  color: navy;
}
header .cartDisplay .cartIconContainer {
  position: relative;
  top: 17em;
  left: 0em;
  height: 8em;
  min-width: 24em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
header .cartDisplay .cartIconContainer h1 {
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: -2em;
  margin-left: -12em;
  position: absolute;
}
header .cartDisplay .cartIconContainer button {
  position: absolute;
  top: 4em;
  z-index: 4;
  padding: 12px;
  border-radius: 12px;
  border: none;
  width: 7em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
  font-size: 1.2rem;
  left: 0em;
  cursor: pointer;
  transition: 0.5s ease;
}
header .cartDisplay .cartIconContainer button:hover {
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.603);
  transform: translate3d(-5px);
  filter: brightness(110%);
}
header .cartDisplay .cartIconContainer .cancelCartIcon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 1.5em;
  left: 20em;
  z-index: 5;
}
header .cartDisplay h2 {
  position: absolute;
  left: 3em;
  text-align: center;
}
header .cartDisplay .cartTableContainer {
  top: 23em;
  position: relative;
  left: -2em;
}
header .cartDisplay .cartTableContainer .summary {
  border-collapse: collapse;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2em;
  margin-bottom: 2em;
  position: relative;
  margin-top: 0em;
  padding-bottom: 5em;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 20em;
}
header .cartDisplay .cartTableContainer .summary thead {
  text-align: center;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
header .cartDisplay .cartTableContainer .summary thead th {
  height: 2em;
}
header .cartDisplay .cartTableContainer .summary thead td {
  width: auto;
  text-align: center;
  background: linear-gradient(135deg, #f5ca85 0%, #f7ba79 50%, #f3b471 100%);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
header .cartDisplay .cartTableContainer .summary .deleteTableButton {
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  height: 2em;
  width: 7em;
  font-size: 1.1rem;
  justify-content: center;
  outline: none;
  align-items: center;
  display: flex;
  height: 2em;
  background: linear-gradient(45deg, #ff0000, #ff6666);
  transition: 0.5s ease;
}
header .cartDisplay .cartTableContainer .summary .deleteTableButton:hover {
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.603);
  transform: translate3d(-5px);
  filter: brightness(110%);
}
header .toggleTheme {
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  height: 2em;
  width: 7em;
  font-size: 1.1rem;
  justify-content: center;
  outline: none;
  align-items: center;
  display: flex;
  position: absolute;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s ease;
  left: 88%;
}
header .toggleTheme:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateX(-10px) translateY(-10px);
}

.slogan {
  text-align: center;
  font-size: 2rem;
  color: navy;
}

.sloganText {
  text-align: center;
  font-size: 1.5rem;
  color: navy;
}

main {
  height: 95em;
  margin-bottom: 2em;
  border: 20px solid gainsboro;
  border-radius: 12px;
  max-width: 95%;
  position: relative;
  left: 1%;
}
main nav {
  justify-content: space-around;
  align-items: center;
  position: relative;
  max-width: 90%;
  margin-left: 6%;
  margin-top: 1.2em;
  margin-bottom: 2em;
  padding-left: 0.5em;
  border-radius: 5px;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
  min-height: 4em;
  display: grid;
  position: sticky;
  font-weight: bold;
  grid-template-columns: repeat(7, 13%);
}
main nav .budgeted {
  position: absolute;
  top: 2.9em;
  font-size: 0.9rem;
  left: 13em;
}
main nav .leftToBudget {
  position: absolute;
  top: 2.9em;
  font-size: 0.9rem;
  left: 23.6rem;
}
main nav .incomeSpent {
  position: absolute;
  top: 2.9em;
  font-size: 0.9rem;
  left: 37.5em;
}
main nav .myProgress {
  padding: 12px;
  height: 20px;
  background-color: #F7E7CE;
  border-radius: 5px;
  margin-left: -2em;
}
main nav .incomeSaved {
  position: absolute;
  top: 2.9em;
  font-size: 0.9rem;
  left: 74%;
}
main nav .incomeLeftover {
  position: absolute;
  top: 2.9em;
  font-size: 0.9rem;
  left: 88%;
}
main .myTables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-right: 0.3em;
}
main .myTables input {
  background: transparent;
}
main .myTables input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #FEF4E3 inset !important;
  -webkit-box-shadow: 0 0 0 1000px #FEF4E3 inset !important;
  -webkit-text-fill-color: black !important;
}
main .myTables .overview {
  border-collapse: collapse;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2em;
  margin-bottom: 2em;
  position: relative;
}
main .myTables .overview thead {
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
}
main .myTables .overview thead tr {
  text-align: center;
  color: #ec7a34;
}
main .myTables .overview thead tr th {
  border: 1px solid #ddd;
  padding: 5px 6px;
  text-align: center;
  vertical-align: middle;
  height: 2em;
  text-align: center;
  position: relative;
}
main .myTables .overview tbody .subHeading {
  background: linear-gradient(135deg, #f5ca85 0%, #f7ba79 50%, #f3b471 100%);
}
main .myTables .overview tbody td {
  border: 1px solid #ddd;
  padding: 5px 6px;
  text-align: center;
  vertical-align: middle;
}
main .myTables .overview tbody .monthSelect {
  padding: 2px;
  border: none;
  padding-left: 2em;
  color: black;
  outline: none;
  text-align: center;
  background: transparent;
}
main .myTables .overview tbody .chooseYear {
  padding: 2px;
  border: none;
  padding-left: 2em;
  color: black;
  outline: none;
  text-align: center;
  background: transparent;
}
main .myTables .overview tbody .startingDay {
  border: none;
  outline: none;
  text-align: center;
  background: transparent;
}
main .myTables .overview tbody .startingDay:focus {
  outline: none;
}
main .myTables .overflow {
  border-collapse: collapse;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2em;
  margin-bottom: 2em;
  position: relative;
}
main .myTables .overflow thead {
  text-align: center;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
}
main .myTables .overflow thead th {
  height: 2em;
}
main .myTables .overflow thead td {
  width: auto;
  text-align: center;
  background: linear-gradient(135deg, #f5ca85 0%, #f7ba79 50%, #f3b471 100%);
}
main .myTables .income {
  border-collapse: collapse;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2em;
  margin-bottom: 2em;
  position: relative;
  transition: 0.4s ease;
}
main .myTables .income:hover {
  box-shadow: 8px 8px 16px #61eb88;
  transform: translateX(-5px) translateY(-5px);
}
main .myTables .income thead {
  filter: brightness(95%);
  color: #055a1d;
  text-align: center;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
}
main .myTables .income thead th {
  height: 2em;
}
main .myTables .income thead td {
  width: auto;
  text-align: center;
  background: linear-gradient(135deg, #f5ca85 0%, #f7ba79 50%, #f3b471 100%);
}
main .myTables .bills {
  border-collapse: collapse;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2em;
  margin-bottom: 2em;
  position: relative;
  transition: 0.4s ease;
}
main .myTables .bills:hover {
  box-shadow: 8px 8px 16px #f86363;
  transform: translateX(-5px) translateY(-5px);
}
main .myTables .bills thead {
  text-align: center;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
  color: #fd2d2d;
}
main .myTables .bills thead th {
  height: 2em;
}
main .myTables .bills thead td {
  width: auto;
  text-align: center;
  background: linear-gradient(135deg, #f5ca85 0%, #f7ba79 50%, #f3b471 100%);
}
main .myTables .expenses {
  border-collapse: collapse;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2em;
  margin-bottom: 2em;
  position: relative;
  transition: 0.4s ease;
}
main .myTables .expenses:hover {
  box-shadow: 8px 8px 16px #f7995b;
  transform: translateX(-5px) translateY(-5px);
}
main .myTables .expenses thead {
  text-align: center;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
}
main .myTables .expenses thead th {
  height: 2em;
}
main .myTables .expenses thead td {
  width: auto;
  text-align: center;
  background: linear-gradient(135deg, #f5ca85 0%, #f7ba79 50%, #f3b471 100%);
}
main .myTables .savings {
  border-collapse: collapse;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2em;
  margin-bottom: 2em;
  position: relative;
  transition: 0.4s ease;
}
main .myTables .savings:hover {
  box-shadow: 8px 8px 16px #7c78f4;
  transform: translateX(-5px) translateY(-5px);
}
main .myTables .savings thead {
  text-align: center;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
  color: #1e40ff;
}
main .myTables .savings thead th {
  height: 2em;
}
main .myTables .savings thead td {
  width: auto;
  text-align: center;
  background: linear-gradient(135deg, #f5ca85 0%, #f7ba79 50%, #f3b471 100%);
}
main .saveButton {
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  height: 2em;
  width: 7em;
  font-size: 1.1rem;
  justify-content: center;
  outline: none;
  align-items: center;
  display: flex;
  position: relative;
  left: 40%;
  background: linear-gradient(45deg, #4ebd4d, #28df25, #059c02);
  transition: 0.5s ease;
}
main .saveButton:hover {
  box-shadow: 2px 2px 4px gray;
  border-radius: 10px;
  transform: translateY(-10px) translateX(-10px);
}
main .deleteButton {
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  height: 2em;
  width: 7em;
  font-size: 1.1rem;
  justify-content: center;
  outline: none;
  align-items: center;
  display: flex;
  position: relative;
  left: 55%;
  top: -2em;
  background: linear-gradient(to right, #ff0000, #ff6666);
  background: linear-gradient(45deg, #a90e0e, #ff0000, #c40606);
  transition: 0.5s ease;
}
main .deleteButton:hover {
  box-shadow: 2px 2px 4px gray;
  border-radius: 10px;
  transform: translateY(-10px) translateX(-10px);
}
main .savedStatus {
  height: 10em;
  width: 20em;
  background: linear-gradient(135deg, #fdca77 0%, #fcae5d 50%, #ff8c42 100%);
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border-radius: 12px;
  color: navy;
  position: absolute;
  top: 30%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  left: 50%;
  transform: translate(-50% -50%);
  box-shadow: 4px 4px 12px 0 rgba(31, 38, 135, 0.37);
}
main .savedStatus h2 {
  border-bottom: 1px solid gray;
  height: 2em;
  background: linear-gradient(135deg, #d1a458 0%, #c78a3f 50%, #cc6f26 100%);
  filter: brightness(110%);
  margin-top: 0px;
  border-radius: 12px 12px 0px 0px;
  padding-top: 20px;
}
main .myCharts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-right: 0.3em;
  padding-left: 2em;
  margin-bottom: 1em;
}
main .myCharts .remainder {
  height: 15em;
}
main .myCharts .comparison {
  height: 15em;
}
main .myCharts .analysis {
  top: 40%;
  position: relative;
  height: 20em;
}/*# sourceMappingURL=FinanceTracker.css.map */